
<div class="d-flex justify-content-center flex-wrap mb-3">
  <div class="card m-2 card-main" style="width: 22rem;">
    <div class="card-image">
      <img class="card-img-top" src="https://res.cloudinary.com/diarvpaib/image/upload/v1614181731/Shiro-Action-Figure.jpg_lj7bff.jpg">
    </div>
    <div class="card-body">
      <a class="card-link card-title">
        <h5 class="card-title"><%= auction.name %></h5>
        <p>This figure is from <%= auction.category %>. <%= auction.description %>.</p>
      </a>
      <hr>
      <div class="d-flex">
        <a class="card-link mt-1" href="https://res.cloudinary.com/diarvpaib/image/upload/v1614176532/img2_uo6kq7.jpg">Go to auction</a>
        <p class="pricetag mt-1"><%= auction.min_price %></p>
      </div>
    </div>
  </div>
</div>
