<div style="height: 75vh;>
  <div class="container fixed-bottom">
    <div class="mt-4 p-3">
      <h1>Edit your auction:</h1>
        <%= render 'form', auction: @auction %>
    </div>
  </div>
</div>
