<h1>Auctions#index</h1>
<p>Find me in app/views/auctions/index.html.erb</p>
<%= link_to 'Create Auction', new_auction_path, class: "btn btn-primary" %>
<div class="container mydiv">
<div class="container mydiv mt-4">
  <%= link_to 'Create Auction', new_auction_path, class: "btn btn-primary btn-lg" %>
  <div class="row">
    <% @auctions.each do |auction| %>
      <%= render 'card', auction: auction %>
    <% end %>
  </div>
</div>
