
<div class="footer">
  <div class="footer-info">
    <div class="footer-links fa-1x">
      <div>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="copyright"><a href="/">Auction Figures - Copyright</a></div>
      </div>
    <div class="footer-copyright">
    </div>
  </div>
</div>
