<div class="footer p-4">
  <div class="text-center">
    <div class="footer-links fa-2x">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      <a href="/">Auction Figures - Copyright</a>
    </div>
  </div>
</div>
