
    <div class="container">
      <div class="content-fluid mt-3 mb-3">
        <div class="banner" style="width: 75%; height: 350px;  background-image: url(https://res.cloudinary.com/diarvpaib/image/upload/v1614113111/pexels-pixabay-163036_lho5on.jpg);">
        </div>

          <div class="container2 mr-5">
            <h1>Auction Figures</h1>
              <p>Welcome to the best action figure auction website.
                Here you will find the best and sometimes some rare finds.
                <br>
                Sign in for the fun to start!
              </p>
          </div>
      </div>
    </div>
    <br>
    <hr>

    <div class="mt-3 mb-3">
    <h3>Nossos leilões mais quentes...</h3>
    </div>

    <div class="d-flex justify-content-center flex-wrap mb-3">
        <div class="card m-2 card-main" style="width: 22rem;">
          <div class="card-image">
            <img class="card-img-top" src="https://res.cloudinary.com/diarvpaib/image/upload/v1614181731/Shiro-Action-Figure.jpg_lj7bff.jpg">
          </div>
          <div class="card-body">
            <a class="card-link card-title">
              <h5 class="card-title">Action Figure 1</h5>
              <p>This figure is from Bandai. Its a rare colection from 1987.</p>
            </a>
            <hr>
            <div class="d-flex">
              <a class="card-link mt-1" href="https://res.cloudinary.com/diarvpaib/image/upload/v1614176532/img2_uo6kq7.jpg">
                <%= link_to 'Go to auctions', auction_path(@auctions), class: "nav-link" %></a>
              <p class="pricetag mt-1">USD300</p>
            </div>
          </div>
        </div>

        <div class="card m-2 card-main" style="width: 22rem;">
          <div class="card-image">
            <img class="card-img-top" src="https://res.cloudinary.com/diarvpaib/image/upload/v1614176532/img2_uo6kq7.jpg">
          </div>
          <div class="card-body">
            <a class="card-link card-title">
              <h5 class="card-title"> Action 2</h5>
                <p>This figure is from Bandai. Its a rare colection from 1987.</p>
            </a>
            <hr>
            <div class="d-flex">
              <a class="card-link mt-1" href="https://res.cloudinary.com/diarvpaib/image/upload/v1614176532/img2_uo6kq7.jpg">
                <%= link_to 'Go to auctions', auction_path(@auctions), class: "nav-link" %></a>
              <p class="pricetag mt-1">USD5300</p>
            </div>
          </div>
        </div>

        <div class="card m-2 card-main" style="width: 22rem;">
          <div class="card-image">
            <img class="card-img-top" src="https://res.cloudinary.com/diarvpaib/image/upload/v1614176532/img1_dncvuz.jpg">
          </div>
          <div class="card-body">
            <a class="card-link card-title">
              <h5 class="card-title"> Action 2</h5>
                <p>This figure is from Bandai. Its a rare colection from 1987.</p>
            </a>
            <hr>
            <div class="d-flex">
              <a class="card-link mt-1" href="https://res.cloudinary.com/diarvpaib/image/upload/v1614176532/img2_uo6kq7.jpg">
                <%= link_to 'Go to auctions', auction_path(@auctions), class: "nav-link" %></a>
              <p class="pricetag mt-1">USD500</p>
            </div>
          </div>
        </div>
    </div>



