
    <div class="container">
      <div class="content-fluid mt-3">
        <div class="banner" style="width: 50%; height: 350px;  background-image: url(https://res.cloudinary.com/diarvpaib/image/upload/v1614113111/pexels-pixabay-163036_lho5on.jpg);">
        </div>

          <div class="container2">
            <h1>Auction Figures</h1>
              <p>O que é Lorem Ipsum?
              Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos,
              e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja
              de tipos e os embaralhou para fazer um livro de modelos de tipos.
              Lorem Ipsum sobreviveu não só a cinco séculos.
              </p>
          </div>
      </div>
    </div>



    <div class="d-flex justify-content-center flex-wrap mt-5">
        <div class="card m-2 card-main" style="width: 22rem;">
          <div class="card-image">
            <img class="card-img-top" src="https://res.cloudinary.com/diarvpaib/image/upload/v1614176532/img3_pvg9ia.jpg">
          </div>
          <div class="card-body">
            <a class="card-link card-title">
              <h5 class="card-title">Action Figure 1</h5>
              <p>This figure is from Bandai. Its a rare colection from 1987.</p>
            </a>
            <hr>
            <div class="d-flex">
              <a class="card-link mt-1" href="https://res.cloudinary.com/diarvpaib/image/upload/v1614176532/img2_uo6kq7.jpg">Go to auction</a>
              <p class="pricetag mt-1">USD300</p>
            </div>
          </div>
        </div>

        <div class="card m-2 card-main" style="width: 22rem;">
          <div class="card-image">
            <img class="card-img-top" src="https://res.cloudinary.com/diarvpaib/image/upload/v1614176532/img2_uo6kq7.jpg">
          </div>
          <div class="card-body">
            <a class="card-link card-title">
              <h5 class="card-title"> Action 2</h5>
                <p>This figure is from Bandai. Its a rare colection from 1987.</p>
            </a>
            <hr>
            <div class="d-flex">
              <a class="card-link mt-1" href="https://res.cloudinary.com/diarvpaib/image/upload/v1614176532/img2_uo6kq7.jpg">Go to auction</a>
              <p class="pricetag mt-1">USD800</p>
            </div>
          </div>
        </div>

        <div class="card m-2 card-main" style="width: 22rem;">
          <div class="card-image">
            <img class="card-img-top" src="https://res.cloudinary.com/diarvpaib/image/upload/v1614176532/img1_dncvuz.jpg">
          </div>
          <div class="card-body">
            <a class="card-link card-title">
              <h5 class="card-title"> Action 2</h5>
                <p>This figure is from Bandai. Its a rare colection from 1987.</p>
            </a>
            <hr>
            <div class="d-flex">
              <a class="card-link mt-1" href="https://res.cloudinary.com/diarvpaib/image/upload/v1614176532/img2_uo6kq7.jpg">Go to auction</a>
              <p class="pricetag mt-1">USD500</p>
            </div>
          </div>
        </div>
    </div>



