

<div class="col-md-3">
  <!-- bbb_deals -->
  <div class="bbb_deals">
    <div class="ribbon ribbon-top-right"><span><small class="cross">x </small>2</span></div>
    <div class="bbb_deals_title">Today's Combo Offer</div>
    <div class="bbb_deals_slider_container">
      <div class=" bbb_deals_item">
        <div class="bbb_deals_image"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074217/124896_preview.png" alt=""></div>
        <div class="bbb_deals_content">
          <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
            <div class="bbb_deals_item_category"><a href="#">Laptops</a></div>
            <div class="bbb_deals_item_price_a ml-auto"><strike>₹40,000</strike></div>
          </div>
          <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
            <div class="bbb_deals_item_name"><%= auction.name %></div>
            <div class="bbb_deals_item_price ml-auto"><%= auction.min_price %></div>
          </div>
          <div class="available">
            <div class="available_line d-flex flex-row justify-content-start">
              <div class="available_title">Available: <span>6</span></div>
              <div class="sold_stars ml-auto"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
            </div>
            <div class="available_bar"><span style="width:17%"></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

