<div class="timer-container">
  <h1 id="headline">Countdown:</h1>
    <div id="countdown" data-deadline='<%= deadline %>'>
      <ul>
        <li><span id="days"></span>days</li>
        <li><span id="hours"></span>Hours</li>
        <li><span id="minutes"></span>Minutes</li>
        <li><span id="seconds"></span>Seconds</li>
      </ul>
    </div>
    <div class="message">
      <div id="content">
        <span class="emoji">Acabou o leilão!</span>
      </div>
    </div>
</div>