.banner {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://res.cloudinary.com/diarvpaib/image/upload/v1614113111/pexels-pixabay-163036_lho5on.jpg");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  width: auto;
  height: 400px;
}
.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 80px;
  font-family: "bungee", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-flat {
  background-color: #DBB52B;
  border: 1px solid #DBB52B;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.btn-flat:hover {
 text-decoration: underline;
 transition: opacity 1 ease-in-out;
}

.container {
  width: 1250px;
  margin: auto;
}

.text-center {
  text-align: center;
}